{% extends 'index.html' %} {% load static %} {% block header %}

<title>NASA</title>

{% endblock %} {% block header-link %}

<link rel="stylesheet" href="{% static 'css/slider.css' %}" />

<link
  href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.css"
  rel="stylesheet"
/>
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.css"
  rel="stylesheet"
/>

{% endblock %} {% block body %} {% include 'header.html' %}

<div class="container-lg text-center">
  <div class="row d-flex justify-content-center p-5">
    <div id='benefits' class="col col-lg-8">
      <h1 class="mb-4">Космическое агентство</h1>
      <p>
        Национальное управление по аэронавтике и исследованию космического
        пространства — ведомство, относящееся к федеральному правительству США и
        подчиняющееся непосредственно президенту США.
      </p>
    </div>
  </div>
  <div class="row row-cols-md-2 align-items-center">
    <div class="col row__min_width">
      <div class="row row-cols-2 align-items-center">
        <div class="col pb-5">
          <img src="{% static 'img/icon-1.svg'%}" alt="Icon 1" class="mb-3" />
          <h3>Спейс шаттлы — пилотируемые корабли</h3>
        </div>
        <div class="col pb-5">
          <img src="{% static 'img/icon-2.svg'%}" alt="Icon 1" class="mb-3" />
          <h3>Лучшее телескопическое оборудование</h3>
        </div>
        <div class="w-100"></div>
        <div class="col pb-5">
          <img src="{% static 'img/icon-3.svg'%}" alt="Icon 1" class="mb-3" />
          <h3>Целимся на Луну и Марс</h3>
        </div>
        <div class="col pb-5">
          <img src="{% static 'img/icon-4.svg'%}" alt="Icon 1" class="mb-3" />
          <h3>Золотая медаль по научным исследованиям</h3>
        </div>
      </div>
    </div>
    <div class="col">
      <img src="{% static 'img/Фото.jpg'%}" alt="Photo" class="col__img" />
    </div>
  </div>
</div>

{% include 'slider.html'%} {% endblock %} {% block body-script %}

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="{% static 'js/slick.min.js'%}"></script>
<script src="{% static 'js/slider-init.js'%}"></script>
{% endblock %}